body,html{
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background: url(UFIToolPic.JFIF) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1{
	font-size: 3rem;
	color: #f7fbff;

}

hr:not([size]) {
    height: 2px;
}

.btn{
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-primary{
	background-color: #005128;
	border-color: #005128;
}

.btn-primary:hover{
	background-color: #01331a;
	border-color: #01331a;
	border-width: 4px;
}

.btn-xl{
	padding:1rem 2rem;
}

hr {
	color: #005128;
	opacity: 1;
	max-width: 220px;
	border-width: 3px;
	margin: revert;
	height: 3px;
}

.buffer{
	height: 0rem;
}